/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: light;
  --global-bg-color: #{$vintage-light-bg};
  --global-code-bg-color: #{$vintage-light-code-bg};
  --global-text-color: #{$vintage-light-text};
  --global-text-color-light: #{$vintage-light-text-light};
  --global-theme-color: #{$vintage-light-theme};
  --global-hover-color: #{$vintage-light-hover};
  --global-hover-text-color: #{$vintage-light-hover-text};
  --global-footer-bg-color: #{$vintage-light-footer-bg};
  --global-footer-text-color: #{$vintage-light-footer-text};
  --global-footer-link-color: #{$vintage-light-footer-link};
  --global-distill-app-color: #{$vintage-light-distill};
  --global-divider-color: #{$vintage-light-divider};
  --global-card-bg-color: #{$vintage-light-card-bg};
  --global-highlight-color: #{$vintage-light-highlight};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($vintage-light-back-to-top, "red", $space: rgb)},
    #{color.channel($vintage-light-back-to-top, "green", $space: rgb)},
    #{color.channel($vintage-light-back-to-top, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$vintage-light-bg};
  --global-newsletter-bg-color: #{$vintage-light-newsletter-bg};
  --global-newsletter-text-color: #{$vintage-light-newsletter-text};
  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .light-toggle-dark {
    display: none;
  }

  .light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
color-scheme: dark;
  --global-bg-color: #{$vintage-dark-bg};
  --global-code-bg-color: #{$vintage-dark-code-bg};
  --global-text-color: #{$vintage-dark-text};
  --global-text-color-light: #{$vintage-dark-text-light};
  --global-theme-color: #{$vintage-dark-theme};
  --global-hover-color: #{$vintage-dark-hover};
  --global-hover-text-color: #{$vintage-dark-hover-text};
  --global-footer-bg-color: #{$vintage-dark-footer-bg};
  --global-footer-text-color: #{$vintage-dark-footer-text};
  --global-footer-link-color: #{$vintage-dark-footer-link};
  --global-distill-app-color: #{$vintage-dark-distill};
  --global-divider-color: #{$vintage-dark-divider};
  --global-card-bg-color: #{$vintage-dark-card-bg};
  --global-highlight-color: #{$vintage-dark-highlight};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($vintage-dark-back-to-top, "red", $space: rgb)},
    #{color.channel($vintage-dark-back-to-top, "green", $space: rgb)},
    #{color.channel($vintage-dark-back-to-top, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$vintage-dark-text};
  --global-newsletter-bg-color: #{$vintage-dark-newsletter-bg};
  --global-newsletter-text-color: #{$vintage-dark-newsletter-text};
  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  .light-toggle-system {
    display: none;
  }

  .light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  .light-toggle-system {
    display: none;
  }

  .light-toggle-dark {
    display: none;
  }

  .light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
